<h2 class="page-header">Proyecto: {{analisis.nombre_proyecto}}</h2>

  {{#if flash}}
  <div class="container">
    <div class="alert alert-dismissable alert-{{flash.type}}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{flash.info}}</strong> {{{flash.message}}}
    </div>
  </div>
  {{/if}}

  <div class="container">
      {{#if analisis.id_proyecto}}
        <h3 class="sub-header">Matriz de patentes</h3>
        <br>

        {{!-- Matriz del proyecto! --}}
          <div class="col-lg-12">
            {{#if analisis.patentes}}
              <table class="table-bordered">
                <thead>
                  <tr>
                    <th></th>
                  {{#each analisis.patentes}}
                    <th><small>{{epodoc}}</small></th>
                  {{/each}}
                  </tr>
                </thead>
                <tbody>
                {{#each analisis.matriz}}
                  <tr>
                    <th>
                      {{ngrama}}
                    </th>
                    {{#each patentes}}
                      <td class="text-center"><small>{{this}}</small></td>
                    {{/each}}
                  </tr>
                {{/each}}
                </tbody>
              </table>
            {{/if}}
          </div><!-- /.col-lg-12 -->
        
        &nbsp;
        <hr class="featurette-divider">
        {{!-- Ngramas y stop words --}}
        <div class="row">
          <div class="col-lg-4">
              <h3 class="featurette-heading">Diccionario del proyecto</h3>
          </div>
          <div class="col-lg-4">
              <h3 class="featurette-heading">Agregar al diccionario del proyecto</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
              <div class="btn-toolbar" role="toolbar">
                  <button type="button" class="btn btn-danger btn-sm" value="delDict">Remover del diccionario</button>
              </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th></th>
                  <th>Cuenta</th>
                  <th>Ngrama</th>
                  <th>Patentes</th>
                </tr>
              </thead>
              <tbody>
              {{#each analisis.diccionario}}
                <tr>
                  <td class="text-center">
                    <input type="checkbox" name="checkbox-dict" id="{{ngrama}}" value="{{ngrama}}"></input>
                  </td>
                  <th scope="row">{{cuenta}}</th>
                  <td>{{ngrama}}</td>
                  <td>{{patentes}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="" id="customDict">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" type="button" value="addCustomDict">Añadir</button>
              </span>
            </div><!-- /input-group -->

          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

        <!-- Featurette -->

        <hr class="featurette-divider">

      {{/if}}

      <h3 class="sub-header">Mostrar matriz del proyecto:</h2>
      <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
      {{#each usuario.proyectos}}
        <p>
          <a href="diccionario?proyecto={{id}}" role="button" class="btn btn-primary btn-default btn-block">{{nombre}}</a>
          <small>({{fechaCreacion}})</small>
        </p>
      {{/each}}
      </div>
  </div>

<script>window.jQuery || document.write('<script src="/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script>
  {{!--
    Al seleccionar el proyecto en el cual se asignaran las patentes que se desea almacenar, se llama
    esta función que por medio de AJAX le pide al servidor que guarde las patentes en la DB
  --}}
  function addStopWords(proyecto) {
      var checkboxesChecked = getCheckedBoxes('checkbox-ngrama');
  
      var data = {
        "id_proyecto": proyecto,
        "ngramas": checkboxesChecked
      };

      $.ajax({
        type: "POST",
        url: "/addStopWords",
        dataType: "json",
        data: data,
        complete: function() {
          location.reload();
        } 
      });
  }

  function delStopWords(proyecto) {
      var checkboxesChecked = getCheckedBoxes('checkbox-stopword');
  
      var data = {
        "id_proyecto": proyecto,
        "ngramas": checkboxesChecked
      };

      $.ajax({
        type: "POST",
        url: "/delStopWords",
        dataType: "json",
        data: data,
        complete: function() {
          location.reload();
        } 
      });
  }

  {{!-- Esta funcion añade los ngramas desde un textbox. Utiliza el mismo POST /addDict que los
        ngramas que se añaden desde la lista de ngramas del proyecto --}}
  function addCustomDict(proyecto) {
      var data = {
        "id_proyecto": proyecto,
        "ngramas": [{ngrama: document.getElementById("customDict").value}]
      };

      $.ajax({
        type: "POST",
        url: "/addDict",
        dataType: "json",
        data: data,
        complete: function() {
          location.reload();
        } 
      });
  }

  function addDict(proyecto) {
      var checkboxesChecked = getCheckedBoxes('checkbox-ngrama');
  
      var data = {
        "id_proyecto": proyecto,
        "ngramas": checkboxesChecked
      };

      $.ajax({
        type: "POST",
        url: "/addDict",
        dataType: "json",
        data: data,
        complete: function() {
          location.reload();
        } 
      });
  }

  function delDict(proyecto) {
      var checkboxesChecked = getCheckedBoxes('checkbox-dict');
  
      var data = {
        "id_proyecto": proyecto,
        "ngramas": checkboxesChecked
      };

      $.ajax({
        type: "POST",
        url: "/delDict",
        dataType: "json",
        data: data,
        complete: function() {
          location.reload();
        } 
      });
  }

  {{!-- 
    Obtiene un arreglo con las checkboxes seleccionadas 
  --}}
  function getCheckedBoxes(nombre) {
    var checkboxes = document.getElementsByName(nombre);
    var checkboxesChecked = [];

    for (var i=0; i<checkboxes.length; i++) {
       if (checkboxes[i].checked) {
          checkboxesChecked.push({
            ngrama: checkboxes[i].value
          });
       }
    }

    return checkboxesChecked;
  }

  {{!-- 
    Controla las acciones que se toman cuando un usuario hace click en cualquiera de los botones
    para crear o borrar stopwords/diccionario/ngramas.
  --}}

  $(document).ready(function() {
    $(".btn-sm").click(function() {
      var nombre = $(this).val();

      {{!-- 
        Código para, desde la tabla de ngramas, crear un stop word 
      --}}

      if (nombre == "addStopWord") {
        if (getCheckedBoxes('checkbox-ngrama').length == 0) return;

        addStopWords({{analisis.id_proyecto}});
      } 
      else if (nombre == "addDict") {
        {{!-- 
          Desde la tabla de ngramas, añadir un ngrama al diccionario del proyecto
        --}}

        if (getCheckedBoxes('checkbox-ngrama').length == 0) return;

        addDict({{analisis.id_proyecto}});
      }
      else if (nombre == "addCustomDict") {
        if (document.getElementById('customDict').length == 0) return;

        addCustomDict({{analisis.id_proyecto}});
      }
      else if (nombre == "delStopWord") {
        {{!-- 
          Desde la tabla de stop words, remover un stop word.
        --}}

        if (getCheckedBoxes('checkbox-stopword').length == 0) return;

        delStopWords({{analisis.id_proyecto}});
      }
      else if (nombre == "delDict") {

        if (getCheckedBoxes('checkbox-dict').length == 0) return;

        delDict({{analisis.id_proyecto}});
      }
      else {
        return;
        var btn = $(this);
        btn.button('loading');
        $('#loading').show();
        $('#proyectosUsuario').hide();
        $('#myModal').modal();
        $.ajax({
          type : "GET",
          url: "/resultados/descargaPDF?epodoc=" + $(this).val(),
          success : function(result){
            var url = result['url'];
            window.location = url;
          },

          error : function(result){
          },

          complete: function() {
            btn.button('reset');
            $('#myModal').modal('hide');
          }
        });
      }
    });
  });

</script>
